{% extends "core/base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <h1 class="text-warning mb-5 border-bottom">SKILLS</h1>

  <!--HTML CSS-->
  <div class="row text-white">
    <div class="col-sm-5">
      <h3 class="mt-5">HTML,CSS</h3>
      <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar" style="width:100%" area-valuenow="100" area-valuemin="0"
          area-valuemax="100">100%</div>
      </div>
    </div>

    <!--JavaScript-->
    <div class="col-sm-5 offset-sm-2">
      <h3 class="mt-5">JavaScript</h3>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:80%"
          area-valuenow="80" area-valuemin="0" area-valuemax="100">80%</div>
      </div>
    </div>

    <!--Java Programming-->
    <div class="col-sm-5">
      <h3 class="mt-5">Java Programming</h3>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:70%"
          area-valuenow="70" area-valuemin="0" area-valuemax="100">70%</div>
      </div>
    </div>

    <!--Python-->
    <div class="col-sm-5 offset-sm-2">
      <h3 class="mt-5">Python</h3>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:90%"
          area-valuenow="90" area-valuemin="0" area-valuemax="100">90%</div>
      </div>
    </div>

    <!--SQL-->
    <div class="col-sm-5">
      <h3 class="mt-5">SQL</h3>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:95%"
          area-valuenow="95" area-valuemin="0" area-valuemax="100">95%</div>
      </div>
    </div>

    <!--Django-->
    <div class="col-sm-5 offset-sm-2">
      <h3 class="mt-5">Django</h3>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:80%"
          area-valuenow="80" area-valuemin="0" area-valuemax="100">80%</div>
      </div>
    </div>

    <!--Dart-->
    <div class="col-sm-5">
      <h3 class="mt-5">Dart</h3>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:8%"
          area-valuenow="808" area-valuemin="0" area-valuemax="100">8%</div>
      </div>
    </div>

    <!--Julia-->
    <div class="col-sm-5 offset-sm-2">
      <h3 class="mt-5">Julia Programming</h3>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:20%"
          area-valuenow="20" area-valuemin="0" area-valuemax="100">20%</div>
      </div>
    </div>

  </div>
</div>
{% endblock content %}